/* Ajuste no container principal */
.container-novo-processo {
  margin-left: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Alinhando o título fixo */
.title-fixed {
  display: flex;
  position: fixed;
  align-items: start;
  top: 0;
  background-color: #fcfaff;
  padding: 10px;
  color: #6800ff;
  font-family: "Montserrat";
  z-index: 1000;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

/* Ajustando o container principal para centralizar conteúdo */
/*.container-processo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60vw;
  height: 580px;
  transform: translate(-50%, -50%);
  background: #fcfaff;
  padding: 30px;
  /*box-shadow: 10px 20px 30px rgba(0, 3, 0, 0.2);
  z-index: 1000;
  border-radius: 30px;
  transition: all 0.3s ease;
}*/

/* Ajuste no título do processo */
.container-titulo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;  
}

.proximo {
  position: relative;
  top: 100px;
}

.container-titulo .texto {
  font-size: 30px;
  color: #a466ff;
  font-weight: 600;
  padding: 8px;
  min-width: 50px;
  border-radius: 8px;
  font-family: "Open Sans";
  background-color: #fcfaff;
}

.container-titulo .texto::placeholder {
  color: #d2b2ff;
}

.container-titulo .descricao::placeholder {
  color: #beb9c6;
}

.container-titulo .texto:focus {
  outline: none;
}

.container-titulo .descricao {
  color: #222222;
  font-size: 18px;
  font-weight: 500;
  min-width: 600px;
  max-width: 800px;
  margin-top: 0;
  padding: 10px;
  font-family: "Open Sans";
  border: none;
  background-color: #fcfaff;
}

.descricao:focus {
  outline: none;
}

.prioridade p{
  position: relative;
  top: -10px;
  font-size: 16px;
  font-weight: 500;
}

/* Ajuste no select de Prioridade */
.prioridade {
  display: grid;
  justify-content: center;
  position: relative;
  top: 30px;
  right: 242px;
}

.selectPrioridade {
  width: 350px;
  height: 3em;
  margin-top: 3px;
  border: 1px solid #d8d5dd;
  border-radius: 12px;
  font-family: "Open Sans";
}

.selectPrioridade:focus {
  outline: none;
  border: solid 1px #6800ff;
}

.novaQuestao button {
  width: 150px;
  height: 40px;
  position: relative;
  top: 85px;
  left: 10px;
  background-color: #6800ff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
}

.etapa-2 .colorProcess{
  color: #6800ff;
  font-size: 30px;
}

.etapa-2 .colorDescription {
  color: #222222;
  font-size: 16px;
  margin-top: 10px;
}

.prioridade-step2 {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  position: relative;
  top:60px;
  right: 15px;
}

.options button {
  width: 320px;
  margin: 15px;
  border: 1px solid #222;
  border-radius: 15px;
  background-color: #fcfaff;
}

.options button:hover {
  border: 2px solid #6800ff;
}

.options button .icone {
  position: relative;
  right: 110px;
  top: 10px;
  color: #6800ff;
}

.textoAberto p {
  position: relative;
  right: 20px;
}

.CheckList p {
  position: relative;
  right: 20px;
}

.options p {
  color: #222;
  font-size: 18px;
  position: relative;
  top: -20px;
}

.options select {
  width: 300px;
  color: #6800ff;
}

/* Ajuste no select de Opções */
.select-opcoes-questao {
  display: grid;
  justify-content: center;
  position: relative;
  top: -60px;
  right: 150px;
}

.selectOpcoes:focus {
  outline: none;
  border: solid 2px #6800ff;
}

.selectOpcoes {
  display: grid;
  justify-content: center;
  width: 200px;
  height: 3em;
  border-radius: 12px;
  font-family: "Open Sans";
}

/* Ajuste nos botões */
.add-btn {
  background: #6800ff;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: "Open Sans";
  padding: 10px 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  width: 155px;
  height: 40px;
  position: relative;
  top: -110px;
  left: 70px;
}

.btn-botoes {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.btn-botoes button {
  display: block;
  height: 50px;
  width: 150px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 500;
  margin: 10px;
}

.botoes-salvar {
  display: flex;
}

/* Ajustes nos botões de ação */
.botao-cancelar button {
  background-color: #daa7a7;
  border: solid 1px #6800ff;
}

.botao-salvar button {
  background-color: #fff;
  color: #6800ff;
  border: 1px solid #6800ff;
}

.botao-salvar-enviar button {
  background-color: #6800ff;
  color: #fff;
}

.botao-salvar-enviar button:hover {
  background-color: #8839ff;
}

/* Melhorando o layout das questões */
/*.questoes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: solid 1px #6800ff;
  padding: 10px;
  gap: 20px;
}*/

.questoes-container {
  position: relative;
  top: -70px;
}

/* Ajuste no item da questão */
.questao-item {
  border: 1px solid #6800ff;
  border-radius: 8px;
  border-top: 10px solid #6800ff;
  padding:15px;
  background-color: #fcfaff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 1330px;
  margin-top: 15px;
  position: relative;
  left: 2px;
  min-height: 180px;
  height: auto;
}

.questao-conteudo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.questao-conteudo input {
  padding: 8px 18px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 625%;
  position: relative;
  right: 460px;
  top: 32px;
}

.header-questao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  color: #6800ff;
}

.numero-questao {
  display: flex;
  position: relative;
  top: 33px;
  font-size: 20px;
}

.setas_excluir {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-right: 10px;
}

.icone-questao {
  display: flex;
  justify-content: end;
  color: #6800ff;
  cursor: pointer;
}

.setas-flex {
  display: flex;
  gap: 10px;
}

.icone-excluir {
  display: flex;
  justify-content: end;
  color: #6800ff;
  cursor: pointer;
}

.in-line {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
  font-weight: bolder;
}

/* Botão de remover questão */
.btn-delete {
  width: 38px;
  height: 38px;
  background-color: #6800ff;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Organizando o checklist */
.checklist-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checklist-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checklist-item input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-add-item {
  width: 150px;
  background-color: #6800ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 14px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 40px;
  position: relative;
  right: 460px;
}

.btn-add-item:hover {
  background-color: #7800cc;
}

.botoes-actions {  
  font-family: "Open Sans";
  width: 100px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 95%;
  margin-bottom: 50px;
  margin-top: 140px;
}

.botoes-actions button {
  height: 45px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
}

.btn-cancelar-processo {
  background-color: #fcfaff;
  color: #6800ff;
  border: 1px solid #6800ff;
 
  padding: 5px;
  width: 110px;
  position: relative;
  left: 10px;
}

.btn-salvar-processo {
  background-color: #fcfaff;
  color: #6800ff;
  border: 1px solid #6800ff;
  padding: 5px;
  width: 120px;
  position: relative;
  left: 200px;
}

.btn-salvar-enviar {
  background-color: #6800ff;
  color: #fff;
  border: none;
  padding: 5px;
  width: 165px;
  position: relative;
  left: 25px;
}

.input_file {
  opacity: 1;
  position: relative;
  z-index: 1;
  width: 60px;
}