/* Ajuste no container principal */
.index-container {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px; /* Adicionando espaçamento entre as seções */
}

/* Alinhando o título fixo */
.title-fixed {
  display: flex;
  position: fixed;
  align-items: start;
  top: 0;
  background-color: #fcfaff;
  padding: 10px;
  color: #6800ff;
  font-family: "Montserrat";
  z-index: 1000;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

/* Ajustando o container principal para centralizar conteúdo */
.container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px; /* Adicionando espaçamento entre seções */
}

/* Ajuste no título do processo */
.container-titulo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start; /* Centraliza os inputs */
}

.container-titulo .texto {
  font-size: 30px;
  color: #a466ff;
  font-weight: 500;
  padding: 8px;
  min-width: 500px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: "Montserrat";
}

/* Ajuste no campo de descrição */
.container-titulo .descricao {
  font-size: 18px;
  font-weight: 500;
  min-width: 500px;
  max-width: 800px;
  margin-top: 1em;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: "Open Sans";
}
.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.options p {
  color: #6800ff;
}
.options select {
  width: 300px;
  color: #6800ff;
}
/* Ajuste no select de Prioridade */
.prioridade {
  display: grid;
  justify-content: center; /* Centraliza o select */
}

.selectPrioridade {
  width: 200px;
  height: 3em;
  border: 1px solid #c3c1c1;
  border-radius: 12px;
  font-family: "Open Sans";
}

/* Ajuste no select de Opções */
.opcoes-processo {
  display: grid;
  justify-content: center; /* Centraliza o select */
}

.selectOpcoes {
  display: grid;
  justify-content: center;
  width: 200px;
  height: 3em;
  border: 1px solid #c3c1c1;
  border-radius: 12px;
  font-family: "Open Sans";
}

/* Ajuste nos botões */
.add-btn {
  background: #6800ff;
  color: white;
  font-weight: 400;
  font-family: "Open Sans";
  padding: 10px 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px auto; /* Centraliza o botão */
  display: block;
}

.btn-botoes {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.btn-botoes button {
  display: block;
  height: 50px;
  width: 150px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 500;
  margin: 10px;
}
.botoes-salvar {
  display: flex;
}
/* Ajustes nos botões de ação */
.botao-cancelar button {
  background-color: #daa7a7;
  border: solid 1px #6800ff;
}

.botao-salvar button {
  background-color: #fff;
  color: #6800ff;
  border: 1px solid #6800ff;
}

.botao-salvar-enviar button {
  background-color: #6800ff;
  color: #fff;
}

.botao-salvar-enviar button:hover {
  background-color: #8839ff;
}

/* Melhorando o layout das questões */
.questoes-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Ajuste no item da questão */
.questao-item {
  border: 1px solid #6800ff;
  border-radius: 8px;
  border-top: 10px solid #6800ff;
  padding: 15px;
  background-color: #fcfaff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  margin: 15px auto; /* Centraliza os itens */
}

.questao-conteudo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.questao-conteudo input {
  padding: 8px 18px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 100%;
}
.header-questao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  color: #6800ff;
}
.numero-questao {
  display: flex;
}
.setas_excluir {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.icone-questao {
  display: flex;
  justify-content: end;
  color: #6800ff;
  cursor: pointer;
}
.setas-flex {
  display: flex;
  gap: 30px;
}
.icone-excluir {
  display: flex;
  justify-content: end;
  color: #6800ff;
  cursor: pointer;
}

/* Botão de remover questão */
.btn-delete {
  width: 38px;
  height: 38px;
  background-color: #6800ff;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Organizando o checklist */
.checklist-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checklist-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checklist-item input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-add-item {
  width: 150px;
  background-color: #6800ff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 14px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 10px;
}

.btn-add-item:hover {
  background-color: #7800cc;
}
