/* Estilos para o fundo desfocado */
.blurPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Container principal do pop-up */
.popupContainer {
    width: 400px;
    background-color: #FCFAFF;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Cabeçalho do pop-up */
.popupHeader {
    font-size: 24px;
    font-weight: 700;
    color: #6800FF;
    font-family: 'Montserrat';
    margin-bottom: 15px;
}

/* Corpo do pop-up */
.popupBody {
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}

/* Rodapé com os botões */
.popupFooter {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

/* Estilo do botão de cancelar */
.cancelButton {
    background-color: #FCFAFF;
    color: #6800FF;
    border: 1px solid #6800FF;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancelButton:hover {
    background-color: #F0E5FF;
}

/* Estilo do botão de sair */
.logoutButton {
    color: #FCFAFF;
    background-color: #6800FF;
    border: none;
    border-radius: 8px;
    font-family: 'Open Sans';
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logoutButton:hover {
    background-color: #A466FF;
}
