:root {
  --primary-color: #6800ff;
  --background-color: #fcfaff;
  --secondary-bg-color: #f0e5ff;
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --menu-width: 100px;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.body-container {
  margin-left: var(--menu-width);
  margin-top: 150px;
}

.graficos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.numericos {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.num-graphic {
  background-color: var(--secondary-bg-color);
  border-radius: 15px;
  height: 97px;
  width: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 56px;
  line-height: 76.26px;
  font-weight: 700;
  color: var(--primary-color);
}

.graphic {
  display: flex;
  /* flex-direction: row; */
  /* gap: 1rem; */
  background-color: var(--background-color);
  border-radius: 10px;
  border: solid 1px #ddd6e6;
  max-width: 400px;
  max-height: 129px;
  padding: 1rem;
  font-size: 18.66px;
  line-height: 25.41px;
  text-align: center;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}
.graphic h3{
  font-size: 18.66px;
}
.graphic p{
  text-align: left;
  font-size: 14px;
}
.tabela-usuarios {
  margin: 2rem 1rem;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 1rem;
}

.tabela-usuarios p {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(34, 34, 34, 1);
  font-size: 18.66px;
  margin-bottom: 1rem;
}

.tabela-usuarios table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
}
.tabela-usuarios th{
  padding: 0.5rem;
  background-color: var(--secondary-bg-color);
  font-weight: bold;
  text-align: left;
  font-size: 16px;
}
.tabela-usuarios td{
  padding: 0.5rem;
  background-color: var(--background-color);
  height: 56px;
  border-bottom: solid 1px rgba(190, 185, 198, 1);
  text-align: left;
  font-size: 16px;
  color: rgba(34, 34, 34, 1);
  ;
}

@media (max-width: 768px) {
  .numericos {
    flex-direction: column;
    align-items: center;
  }

  .num-graphic {
    height: 75px;
    width: 100px;
  }

  .tabela-usuarios table th,
  .tabela-usuarios table td {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .num-graphic {
    height: 60px;
    width: 80px;
  }

  .tabela-usuarios p {
    font-size: 0.9rem;
  }

  .tabela-usuarios table th,
  .tabela-usuarios table td {
    font-size: 0.8rem;
  }
}
