.processos-container {
  margin-left: 110px;
  margin-top: 250px;
  justify-content: center;
  padding: 20px;
  display: flex;
  max-width: calc(100vw - 110px);
  flex-direction: column;
  gap: 30px;
  font-family: "Open Sans", sans-serif;
}

.header h1 {
  font-size: 38px;
  color: #6800ff;
  text-align: left;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.slProcessos {
  max-width: 300px;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
}

.TabelaProcesso {
  overflow-x: auto;
  margin-top: 50px;
}

.TabelaProcesso table {
  width: 100%;
  border-radius: 20px;
  background: #fcfaff;
  color: #6800ff;
  border-collapse: collapse;
}

.TabelaProcesso th,
.TabelaProcesso td {
  padding: 10px;
  border: 1px solid #ccc;
}

.TabelaProcesso th {
  background-color: #d2b4fe;
  font-weight: bold;
}

td.empty {
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
}

.acoes {
  display: flex;
  justify-content: center;
}

.acoes button {
  margin: 0 5px;
  padding: 5px 10px;
  background: none;
  border: 1px solid #6800ff;
  border-radius: 4px;
  cursor: pointer;
}

.acoes button:hover {
  background: #6800ff;
  color: white;
}

.componente_Search {
  position: relative;
  display: inline-block;
  width: 250px;
}

.componente_Search input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #6800ff;
  border-radius: 15px;
  font-size: 16px;
}
.status-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.componente_Search input:focus {
  border: 1px solid #6800ff;
  box-shadow: 0 0 10px #888;
}

.componente_Search .icon-search {
  position: absolute;
  right: 10px;
  top: 20%;
  color: #888;
  font-size: 18px;
  pointer-events: none;
}

.processos-container .botaoNovoProcesso button {
  margin: 0 auto;
  padding: 10px;
  background-color: #6800ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.botaoNovoProcesso button:hover {
  background-color: #5700cc;
}
