@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap");

.container-page {
  margin-left: 150px;
}

html {
  margin: 0;
  padding: 0;
}
.container-page-area {
  margin-left: 100px;
  margin-top: 150px;
  gap: 30px;
  font-family: "Open Sans", sans-serif;
}

.container_area {
  display: grid;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 30px;
}

.title {
  text-align: center;
}

.title h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #6800ff;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  flex-wrap: wrap;
  gap: 15px;
}

.slArea {
  width: 218px;
  height: 48px;
  padding: 10px;
  border: 1px solid #6800ff;
  border-radius: 16px;
  font-size: 16px;
  color: #6800ff;
  outline: none;
}
.slArea:focus {
  border: solid 2px #6800ff;
}

.botao-area button {
  padding: 10px 20px;
  width: 200px;
  background-color: #6800ff;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  font-weight: bold;
}
.botao-area:hover {
  border-radius: 10px;
  font-weight: bold;
  background-color: #5700cc;
}

.TableArea {
  margin-top: 20px;
  overflow-x: auto;
  width: auto;
}

.TableArea table {
  width: 100%;
  background-color: #fcfaff;
  color: #6800ff;
  font-family: "Open Sans", sans-serif;
  border-collapse: collapse;
}

.TableArea th {
  padding: 10px;
  background-color: #ede1ff;
  font-weight: bold;
  text-align: left;
}
.TableArea td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.TableArea th:first-child {
  border-top-left-radius: 10px;
}

.TableArea th:last-child {
  border-top-right-radius: 10px;
}

.TableArea tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
.TableArea tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

/* Estilização do componenti Search */
.input-container {
  position: relative;
  display: inline-block;
  border: solid 1px #6800ff;
  border-radius: 15px;
  padding: 3px;
  width: 260px;
}

.input-container input {
  padding-left: 5px;
  height: 40px;
  width: 250px;
  box-sizing: border-box;
  color: #6800ff;
}

.input-container input:focus {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.input-container .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6800ff;
  pointer-events: none;
}

.icon-acoes {
  text-align: center;
}

/* Estiulização do componente Search na página Área */
.search-area {
  display: flex;
  justify-content: end;
}

@media (max-width: 768px) {
  .title h2 {
    font-size: 1.5rem;
  }

  .settings {
    display: flex;
    flex-direction: column;
    gap: 30;
    align-items: center;
  }

  .TableArea table {
    font-size: 0.9rem;
  }
}
