@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap');

.container-area {
  margin-left: 120px; /* Respeita o menu lateral */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Open Sans', sans-serif;
}
.settings {
    display: flex;
    justify-content: space-around;

}
.title {
    display: flex;
}
.title h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  justify-content: start;
  color: #6800FF;
  text-align: center;
}

.filters-area {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}

.slArea {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #6800FF;
  border-radius: 5px;
  color: #6800FF;
}

.botao-area {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.botao-area button {
  padding: 10px 20px;
  background-color: #6800FF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.botao-area button {
  padding: 10px 20px;
  background-color: #6800FF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.input_search_area {

}
.botao-area button:hover {
  background-color: #5700CC;
}

.TableArea {
  margin-top: 20px;
  overflow-x: auto;
}

.TableArea table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: #F0E5FF;
  color: #6800FF;
  font-family: 'Open Sans', sans-serif;
}

.TableArea th,
.TableArea td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

.TableArea .table-names th {
  font-weight: 600;
  background-color: #D2B4FE;
}

.TableArea th:first-child {
  border-top-left-radius: 10px;
}

.TableArea th:last-child {
  border-top-right-radius: 10px;
}

@media (max-width: 768px) {
  .title h2 {
    font-size: 1.5rem;
  }

  .slArea {
    width: 100%;
    max-width: 200px;
  }

  .botao-area button {
    width: 100%;
    max-width: 200px;
  }

  .TableArea table {
    font-size: 0.9rem;
  }
}
