@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap");

.container-area {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Open Sans", sans-serif;
}

.title {
  text-align: center;
}

.title h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #6800ff;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.filters-area,
.search,
.botao-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 200px;
  height: 50px;
}

.slArea {
  width: 100%;
  padding: 10px;
  border: 1px solid #6800ff;
  border-radius: 5px;
  color: #6800ff;
}

.botao-area button {
  padding: 10px 20px;
  background-color: #6800ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.botao-area button:hover {
  background-color: #5700cc;
}

.TableArea {
  margin-top: 20px;
  overflow-x: auto;
}

.TableArea table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f0e5ff;
  color: #6800ff;
  font-family: "Open Sans", sans-serif;
}

.TableArea th,
.TableArea td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

.TableArea .table-names th {
  font-weight: 600;
  background-color: #d2b4fe;
}

.TableArea th:first-child {
  border-top-left-radius: 10px;
}

.TableArea th:last-child {
  border-top-right-radius: 10px;
}

@media (max-width: 768px) {
  .title h2 {
    font-size: 1.5rem;
  }

  .settings {
    display: flex;
    flex-direction: column;
    gap: 30;
    align-items: center;
  }

  .slArea select{
    width: 200%;
  }

  .botao-area button {
    max-width: 100%;
  }

  .TableArea table {
    font-size: 0.9rem;
  }
}
